<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>ProNav Display</name>

  <icon src="icon.png" />

  <description>
      Trade show display app for ProNav
  </description>

  <author href="http://baseninestudios.com" email="jonathan@baseninestudios.com">
      Base Nine Studios
  </author>

</widget>
